<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title> 
        [KNIH] AT SCH Univ.
    </title>
</head>

<body>
    <h1>설문 조사를 <br> 완료했습니다</h1>
    <h1>~감사합니다~</h1>
    <button type="button" onclick="location.href='/'">
        로그인 화면으로 이동
    </button>
</body>
