<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title> 
        [KNIH] AT SCH Univ.
    </title>
</head>

<body>
    <h2>You have completed <br>the survey</h2>
    <h2>~Thank you~</h2>
    <button type="button" onclick="location.href='/en'">
        Move to Login Page
    </button>
</body>
