<!DOCTYPE html>
<html lang="kr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        [KNIH] Detailed information on activity
    </title>
</head>
<body>
    <h1>Inactive</h1>
    Inpatient and mobility difficulties
    <hr>
    <h1>Low-active</h1>
    If you spend most of your time in sedentary, static activities
    Most of the general office workers who do not actively and regularly exercise using their leisure time are low active
    <hr>
    <h1>Active</h1>
    If you spend most of your time sitting, but doing standing work, commuting to school, shopping, housework, and regular light exercise
    <hr>
    <h1>Very-active</h1>
    Engaged in work that primarily involves standing or engaged in active leisure activities such as exercise
</body>